{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <h2 class="article-title">About</h2>
    <p class="article-content">
    	Internships management portal for IIT Hyderabad, developed 
		as a project for Software Engineering course.<br><br>
		Group Details:
		<p>Apoorv Choudhary<br>CS15BTECH11004</p>
		<p>Atul Raj<br>CS15BTECH11006</p>
		<p>Narwade Shubham<br>CS15BTECH11026</p>
    </p>
  </div>
</article>


{% endblock content %}


